.cardParent {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 60%;
}

.card {
	height: 200px;
	margin: 20px;
	box-sizing: border-box;
}

.card:hover {
	transform: scale(1.2);
	cursor: pointer;
}

.img {
	object-fit: cover;
	height: 100%;
}

.modalParent {
	display: flex;
	justify-content: center;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pageParent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.h1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.h1:hover {
	color: rgb(187, 42, 20);
}
