.searchBar {
	height: 20px;
}

.card {
	height: 250px;
	width: 150px;
	color: white;
	border: solid 2px white;
	margin: 25px;
}

.card:hover {
	transform: scale(1.1);
}

.cardParent {
	display: flex;
}
