.searchParent {
	margin: 30px;
	display: flex;
	justify-content: center;
}

.searchBar {
	height: 40px;
	width: 50%;
	font-size: 20px;
	border-radius: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cardParent {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.card {
	height: 300px;
	margin: 25px;
	box-sizing: border-box;
}

.card:hover {
	cursor: pointer;
}

.img {
	object-fit: cover;
	height: 100%;
}

.modalParent {
	display: flex;
	justify-content: center;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sortLabel {
	font-size: 20px;
	margin: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sort {
	border-radius: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
}

.gray {
	filter: grayscale(100%);
	object-fit: cover;
	height: 100%;
}
