.searchParent {
	margin: 20px;
	display: flex;
	justify-content: center;
}

.searchBar {
	height: 40px;
	width: 50%;
}

.cardParent {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card {
	height: 500px;
	margin: 20px;
	box-sizing: border-box;
}

.card:hover {
	transform: scale(1.1);
}

.img {
	object-fit: cover;
	height: 100%;
}
