.howToPlayContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
}

.bannerimg{
    width: 70%;
    height: 70%
}

.p{
    text-align: center;
}

.caption{
    text-align: center;
    font-size: smaller;
    font-style: italic;
}

.cardimg{
    width:50%;
    height: 50%;
}

.figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}