.pageParent {
	display: flex;
	justify-content: center;
	align-items: center;
}

.winMessage {
	color: aqua;
}

.throwaway {
	z-index: -3;
	position: fixed;
	opacity: 0%;
}

.card {
	z-index: 3;
	position: fixed;
	background-color: #fff;
}
