.cardParent {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card {
	height: 300px;
	margin: 20px;
	box-sizing: border-box;
}

.card:hover {
	transform: scale(1.2);
}

.img {
	object-fit: cover;
	height: 100%;
}

.modalParent {
	display: flex;
	justify-content: center;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
}
